[Unit]
Description=Rebuild Linuwu-Sense Kernel Module After Boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/linuwu_rebuild.sh

[Install]
WantedBy=multi-user.target